body{
  margin: 0px;
  background-color: white;
}

a{
  font-family: "Source Sans Pro", sans-serif;
  color: #05274C;
  text-decoration: none;
}

nav a:hover{
  background-color: #05274C;
  color: white;
}

nav{
   grid-area: section_1;
   padding: 5px;
   margin: 5px;
   background-color: white;
}

.nav_item{
  padding: 5px 10px 5px 10px;
  color: #05274C;
}

@media (min-width: 481px){
  .container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas:
        "section_1     .     section_2 section_2"
        "section_3 section_4 section_5 section_6"
        "section_7 section_7 section_7 section_6";
     min-height: 100vh;
  }
}

@media (max-width: 480px) {
   /* smartphone layout */
   .container {
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;
      grid-template-rows: 0.5fr 0.5fr 2fr 2fr 2fr 2fr;
      grid-template-areas:
         "section_1     .    "
         "section_2 section_2"
         "section_3 section_3"
         "section_4 section_4"
         "section_5 section_5"
         "section_7 section_7";
      min-height: 100vh;
   }

   .aside{
     display: none;
   }

   .menu1{
     height: 100%;
   }

   .menu2{
     height: 100%;
   }
}
