body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body *{
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #262F34;
  font-size: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: #262F34;
  font-weight: 500;
  margin-bottom: 5px;
}

p {
  font-family: 'Barlow', sans-serif;
  color: #262F34;
}

section {
  font-family: 'Barlow', sans-serif;
  color: #262F34;
  font-size: 1.25em;
}

a{
  font-family: "Roboto", sans-serif;
  color: #063852;
  text-decoration: none;
  padding: 0px;
}

@media (min-width: 769px){
  /* Desktop layout */
  .container {
     display: grid;
     grid-template-columns: 0.25fr 2fr 2fr 2fr 2fr 2fr 2fr 0.25fr;
     grid-template-rows: 1.2fr auto auto auto 3fr;
     grid-template-areas:
        "     section1    section1 section1 . section2 section2 section2  . "
        "     .    section3 section3 section3 section4 section4 section4 .    "
        "     section5    section5 section5 section5 section5 section5 section5 section5   "
        "     section6    section6 section6 section6 section6 section6 section6 section6   "
        "     section7    section7 section7 section7 section7 section7 section7 section7   ";
     width: 100%;
     /* min-height: 100vh; */
  }
}

.logoDiv{
  grid-area: section1;
  /* display: inline-block; */
  margin: 0px;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.navLogo{
  height: 60px;
  /* padding-left: 30px;  */
  align-content:center;
  display: inline-block;
  /* background: red; */
}

.logoText{
  display: inline-block;
  margin: 0px;
  padding-top: 15px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #063852;
  font-weight: 900;
}


.nav{
  grid-area: section2;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 40px;
  height: 100%;
}

.nav a:hover{
  color: white;
  background-color: #D55448;
  border-radius: 5px;
  transition-timing-function: ease-in;
  /* text-decoration: line-through; */
}

.nav_item{
  padding: 30px;
  font-size: 1.2em;
}

/* LANDING PAGE SECTION */

.landingImageSection{
  grid-area: section3;
  width: 100%;
  height: calc(100vh - 12vh - 10px);
  overflow: hidden;
  vertical-align: middle;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.landingImage{
  width: 35vw;
  height: 70vh;
  min-height: 400px;
  /* position: static; */
  object-fit: cover;
  border-radius: 15%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  /* border: solid 5px;
  border-color: #063852; */
}

.description{
  width: 100%;
  color: #262F34;
  height: calc(100vh - 12vh - 10px);
  overflow: hidden;
  /* position: static; */
  object-fit: cover;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  display: flex;
  line-height: 2em;
  margin-bottom: 10px;
}

.description h1{
  margin-top: 20px;
}

.description a:hover {
  color: #D55448;
}

.descriptionSection{
  grid-area: section4;
  padding-right: 5vw;
}


/* PROJECTS SECTION */
.projectSection{
  grid-area: section5;
  background-color: #B0E0E6;
  /* background-color: #F5F7F8; */
  text-align: center;
  /* padding-bottom: 10px; */
}

.projectSection h1{
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #262F34;
}

.projectSection section{
  font-size: 25px;
  margin-bottom: 20px;
  color: #262F34;
}

.projectSection hr{
  border-color: #262F34;
  width: 15%;
  text-align: center;
  margin-top: 40px;

}

.projectCard{
  height: 55vh;
  width: 100vw;
  min-height: 200px;
  /* margin-top: 20px; */
  /* border: solid 1px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: lightpink; */
}

.projectImageContainer{
  width: 45%;
  height: 100%;
  /* border: solid 1px; */
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectImage{
  width: auto;
  height: 62.5%;
  /* min-height: 200px; */
  text-align: center;
  display: inline-block;
}

.projectDescription{
  width:55%;
  height: 100%;
  min-height: 200px;
  text-align: left;
  /* border: solid 1px; */
  padding: 0px 40px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  line-height: 1.75em;
  color: #262F34;
}

.projectDescription h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #262F34;
}

.projectDescription p {
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #262F34;
}

.projectDescriptionText button{
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  border: solid 1px;
  border-color: #063852;
}

.projectDescriptionText button:hover{
  background: #D55448;
  border-color: #D55448;
  color: white;
}


/* WRITING SECTION */
.writingSection{
  grid-area: section6;
  text-align: center;
  padding-bottom: 10px;
}

.writingSection h1{
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #262F34;
}

.writingSection section{
  font-size: 25px;
  padding-top: 10px;
  color: #262F34;
}

.writingCard{
  height: 50vh;
  width: 30%;
  margin: 30px 15px 10px 15px;
  /* background: lightpink; */
  display: inline-block;
  vertical-align: middle;
  opacity: 0.85;
}

.writingCard:hover{
  transform: translateY(-10px);
  transition-timing-function: all 0.3s ease-in;
  opacity: 1.0;
  background-color: #B0E0E6;
}

.writingCard:hover p{
  color: black;
}

.writingImage{
  width: 100%;
  height: 70%;
  min-height: 200px;
  object-fit: cover;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  margin-bottom: 5px;
  padding: 20px 15px 0px 15px;
}

.writingText{
  height: 20%;
  font-weight: 900;
  font-size: 1.25em;
  /* padding: 1vw; */
  color: #262F34;
  text-align: left;
  margin: 0;
  padding: 10px 15px 0px 15px;
}


/* CONTACT SECTION */
.contactSection{
  grid-area: section7;
  background-color: #F5F7F8;
  text-align: center;
  padding-bottom: 10px;
}

.contactSection h1{
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #262F34;
}

.contactSection section{
  font-size: 25px;
  color: #262F34;
}

.contactLogo{
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

@media (max-width: 768px){
  /* Desktop layout */
  .container {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto auto auto auto auto auto;
     grid-template-areas:
        " section1 "
        " section3 "
        " section4 "
        " section5 "
        " section6 "
        " section7 ";
     width: 100%;
     /* min-height: 100vh; */
  }

  .nav {
    display: none;
  }

  .landingImage{
    width: 80%;
    height: 80%;
  }

  .descriptionSection{
    padding: 0px 0px 0px 10px;
  }

  .description{
    text-align: center;
    height: auto;
    padding: 0px 20px 0px 20px;
  }

  .description h1{
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .descriptionLogos{
    padding-top: 20px;
    text-align: center;
  }

  .projectSection{
    padding-bottom: 70px;
    overflow-x: hidden;
  }

  .projectCard{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .projectImageContainer{
    width: auto;
  }

  .projectDescription{
    width: 100%;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    height: 600px;
  }

  .projectDescription h2{
    padding: 5px;
    line-height: 1.2em;
  }

  .projectDescription button{
    text-align: center;
    width: 100%;
  }

  .projectImage{
    max-width: 90%;
  }

  .writingCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .writingImage{
    height: 300px;
  }

  .writingText{
    text-align: center;
  }

  .contactSection{
    padding: 10px;
  }
}
