body{
  background: #000000;
}

#search{
  background-color: #1ed760;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
}

input{
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 1em;
  display: inline-block;
  padding: 5px;
}

.logo_card{
  text-align:center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.logo{
  height: 100px;
  width: 325px;
  margin-bottom: 10px;
  display: inline-block;
}

.albumImage{
  height: 300px;
  width: 300px;
  background-size: cover;
  border: solid 1px;
}

audio {
  padding-top: 5px;
  padding-bottom: 5px;
}

#output{
  text-align: center;
  display: inline-block;
}

.card{
  height: 450px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: white;
  background: #000000;
}

.card:hover{
  background-color: #828282;
  font-weight: bolder;
}
