body{
  margin: 0px;
}

@media (min-width: 1025px){
  .container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas:
        "section_1     .     section_2 section_2"
        "section_3 section_4 section_5 section_6"
        "section_7 section_7 section_7 section_6";
     min-height: 100vh;
  }
}

@media (max-width: 1024px) {
   /* tablet layout here */
   .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 2fr 1fr 1fr;
      grid-template-areas:
         "section_1     .     section_2 section_2"
         "section_6 section_6 section_6 section_6"
         "section_3 section_3 section_4 section_4"
         "section_5 section_5 section_5 section_5"
         "section_7 section_7 section_7 section_7";
      min-height: 100vh;
   }

   .menu1{
     height: 100%;
   }

   .menu2{
     height: 100%;
   }
}

@media (max-width: 480px) {
   /* smartphone layout here */
   .container {
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;
      grid-template-rows: 0.5fr 0.5fr 2fr 2fr 2fr 2fr;
      grid-template-areas:
         "section_1     .    "
         "section_2 section_2"
         "section_3 section_3"
         "section_4 section_4"
         "section_5 section_5"
         "section_7 section_7";
      min-height: 100vh;
   }

   .aside{
     display: none;
   }

   .menu1{
     height: 100%;
   }

   .menu2{
     height: 100%;
   }
}

.menu1{
   grid-area: section_1;
   background-color: pink;
   padding: 5px;
   margin: 5px;
   height: 50%;
}


.menu2{
   grid-area: section_2;
   background-color: yellow;
   padding: 5px;
   margin: 5px;
   height: 50%;
}

.card1{
   grid-area: section_3;
   background-color: cyan;
   padding: 5px;
   margin: 5px;
}

.card2{
   grid-area: section_4;
   background-color: cyan;
   padding: 5px;
   margin: 5px;
}

.card3{
   grid-area: section_5;
   background-color: cyan;
   padding: 5px;
   margin: 5px;
}

.main{
   grid-area: section_7;
   background-color: cyan;
   padding: 5px;
   margin: 5px;
}

.aside{
   grid-area: section_6;
   background-color: gray;
   padding: 5px;
   margin: 5px;
}
